# Default ignored files
.idea
/shelf/
/.idea/workspace.xml
node/
node_modules/
package-lock.json
src/main/resources/static/built/
target/
app_utility/
yarn.lock
package.json
.eslintrc.json
tsconfig.tsbuildinfo
dist
.htpasswd
