# Default ignored files
.idea
/shelf/
/.idea/workspace.xml
node/
node_modules/
target/
app_utility/
yarn.lock
package.json
.eslintrc.json
tsconfig.tsbuildinfo
dist
.htpasswd
docker/local/backend/*.jar
src/main/resources/static/built/
src/main/resources/staging/hibernate.cfg.xml
src/main/resources/prod/hibernate.cfg.xml
*.key
*.crt
*.zip
aws_user.log
