

.editable-text-fixed {
    cursor: pointer;
    border: 1px solid black;
    background-color: #EEEEEE;
    padding: 4px;
}

.editable-text-activated {
    border: 1px solid black;
    background-color: #FFFFFF;
}

.scale-large {
    width: 100%
    height: 100px
}

.scale-large-flexible {
    resize: vertical; /* Enable resizing in both directions */
    width: 100%
    min-height: 100px; /* Minimum height */
    max-height: 500px; /* Optional: cap the height */
}

.select-body {
    position: absolute;
    z-index: 10;
}

.select-element {
    cursor: pointer;
    border: 1px solid black;
    background-color: #FFFFFF
}

.pseudo-button {
    display: inline-block; /* or inline-flex */
    padding: 5px 10px; /* optional padding */
    border: 1px solid black; /* button-like border */
    background-color: #f0f0f0; /* button-like background color */
    cursor: pointer; /* shows a hand cursor like a button */
    /* Additional styling */
    text-align: center;
    border-radius: 4px; /* Rounded edges */
}