

.editable-text-fixed {
    cursor: pointer;
    border: 1px solid black;
    background-color: #EEEEEE;
    padding: 4px;
}

.editable-text-activated {
    border: 1px solid black;
    background-color: #FFFFFF;
}

.scale-minimum {
    width: 20px
    height: 20px
}

.scale-large {
    width: 100%
    height: 100px
}

.scale-large-flexible {
    resize: vertical; /* Enable resizing in both directions */
    width: 100%
    min-height: 100px; /* Minimum height */
    max-height: 500px; /* Optional: cap the height */
}

.select-body {
    position: absolute;
    z-index: 10;
}

.select-element {
    cursor: pointer;
    border: 1px solid black;
    background-color: #FFFFFF
}

.item-title {
    border-bottom: 1px solid black;
    padding-top: 5px;
}

.item-title-large {
    border-bottom: 2px solid black;
    padding-top: 5px;
}

.frame-unit {
    border: 1px solid #8888AA;
    background-color: #AAAAFF;
}

.left-space {
    padding-left: 5px
}
