.gadget-float-bottom-right {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    box-shadow: 0 0 8px rgba(192,192,256,1.0);
}

.gadget-external {
    border: 1px solid black;
    padding: 2px;
    background-color:#FFFFFF;
}

.gadget-close {
    border: 4px outset #CCCCCC;
    background-color:#EEEEEE;
    width:100%;
    margin:0px;
    padding:8px;
    cursor:pointer;
}

.gadget-links-title {
    border: 1px solid black;
    background-color:#000000;
    color:#FFFFFF;
    padding-left:8px;
}

.gadget-links-body {
    border: 1px solid black;
    width:256px;
    background-color:#BBBBBB;
    color:#FFFFFF;
    padding-left:16px;
    padding-bottom:16px;
}

.gadget-links-item {
    padding-top:4px;
    padding-bottom:4px;
    cursor:pointer;
}

.gadget-links-item-link {
    color:#FFFFFF;
    text-decoration: none;
}