.main-body {
    display: grid;
    grid-template-columns: 200px 800px 200px;
}
.main-area-frame {
    border: 2px solid #AAAAAA;
    padding: 2px;
    width: 70%;
}
.main-area {
    background-color: #D0CCAA;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1000px;
}


.editable-text-fixed {
    cursor: pointer;
    border: 1px solid black;
    background-color: #EEEEEE;
    padding: 4px;
}

.editable-text-activated {
    border: 1px solid black;
    background-color: #FFFFFF;
}

.scale-minimum {
    width: 20px;
    height: auto;
}

.scale-span {
    min-width: 40%;
    resize: horizontal;
    width: auto;
    height: auto;
}

.scale-large {
    width: 100%;
    height: 100px;
}

.scale-large-flexible {
    resize: vertical; /* Enable resizing in both directions */
    width: 100%;
    min-height: 100px; /* Minimum height */
    max-height: 500px; /* Optional: cap the height */
}

.select-body {
    position: absolute;
    z-index: 10;
}

.select-element {
    cursor: pointer;
    border: 1px solid black;
    background-color: #FFFFFF
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0; /* Adds space between the divs */
}



.frame-unit {
    border: 2px solid #8888AA;
    background-color: #AAAAFF;
}


.image-thumbnail {
    width: 200px;
    height: 200px;
}

.image-sample {
    width: 600px;
    height: 600px;
}
