

.article-title {
    color:#444444;
    font-size:28px;
    border-bottom:1px solid #AAAAAA;
}
.article-image {
    width: 512px;
    height: 512px;
    margin-left:auto;
    margin-right:auto;
}
.article-image-small-base {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    border: 4px solid #000000;
    padding: 0;
}
.article-image-small {
    width: 192px;
    height: 192px;
    margin-left:auto;
    margin-right:auto;
}
.article-image-title-base {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 0;
}
.article-image-title {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.article-text {
    font-size:20px;
}

.article-timestamp {
    text-align:right;
    color:#997777;
    font-style:italic;
}

.article-source-url {
    text-align:right;
    color:#997777;
    font-style:italic;
}

.article-tag-alignment {
    text-align:right;
}

.section-title {
    border-bottom: 2px solid black;
    margin-top: 5px;
    color:#888888;
}