.article-edit-item-line {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1000px;
}

.article-edit-title {
    border-bottom: 0px solid black;
    margin-top: 4px;
}

.article-edit-title-large {
    border-bottom: 1px solid black;
    margin-top: 4px;
}

.comment-edit-item-line {
    border: 2px solid #999999;
    background-color: #B0AA88;
    color: #222222;
    padding-left:5px;
    padding-right:5px;
    margin-top:1px;
    max-width:400px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.comment-edit-label {
    color: #227744;
}

.admin-editable-text {
    border:2px ridge #AAAAAA;
    background-color:#77AAAA;
    min-width:100px;
}
.admin-editable-text-activated {
    border: 4px inset #8888FF;
    background-color: #FFFFFF;
}
