<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ReactJS + Spring Data REST</title>
        <link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/styles_comment.css" />
        <link rel="stylesheet" href="/styles_headlines.css" />
        <link rel="stylesheet" href="/styles_comment_form.css" />
    </head>

    <body>
        <div id="root"></div>

        <!-- compiled bundle.js will be generated under resources/static -->
        <script src="dist/bundle.js"></script>
    </body>
</html>