<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>読み込み中 ｜ 輸入雑暇</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/styles_headlines.css" />
        <link rel="stylesheet" href="/css/styles_comment.css" />
        <link rel="stylesheet" href="/css/styles_comment_form.css" />
        <link rel="stylesheet" href="/css/styles_modal.css" />
        <link rel="stylesheet" href="/css/styles_report.css" />
        <link rel="stylesheet" href="/css/styles_article.css" />
        <link rel="stylesheet" href="/css/styles_header.css" />
        <link rel="stylesheet" href="/css/styles_login.css" />
        <link rel="stylesheet" href="/css/styles_edit.css" />
        <link rel="stylesheet" href="/css/styles_images.css" />
        <link rel="stylesheet" href="/css/styles_hero_banner.css" />
        <link rel="stylesheet" href="/css/styles_gadget.css" />
        <meta name="description" content="まとめサイト" data-rh="true">
        <meta name="keywords" content="まとめ, まとめサイト, 世界, 翻訳" data-rh="true">
        <meta property="og:title" content="輸入雑暇" data-rh="true">
        <meta property="og:description" content="まとめサイト" data-rh="true">
        <meta property="og:image" content="https://blog2025-prod-s3-public.s3.ap-northeast-1.amazonaws.com/system/ogimage.jpg" data-rh="true">
        <meta property="og:url" content="https://at-archives.com/" data-rh="true">
        <meta name="twitter:card" content="summary_large_image" data-rh="true">
        <meta name="twitter:title" content="輸入雑暇" data-rh="true">
        <meta name="twitter:description" content="まとめサイト" data-rh="true">
        <meta name="twitter:image" content="https://blog2025-prod-s3-public.s3.ap-northeast-1.amazonaws.com/system/ogimage.jpg" data-rh="true">
        <meta name="twitter:url" content="https://at-archives.com/" data-rh="true">
    </head>

    <body>
        <div id="root"></div>

        <!-- compiled bundle.js will be generated under resources/static -->
        <script src="/dist/bundle.js"></script>
    </body>
</html>
